
.quiz-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #f8f9fa;
}

.question-container {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%; 
    max-width: 800px;
    text-align: center;
}

.question-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    height: 60vh; 
}

.btn-row {
    display: flex;
    gap: 10px; 
    flex: 1; 
}

.btn-option-a {
    background-color: #acb3bb; 
    flex: 1; 
    font-size: 1.5rem;
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
    height: 100%; 
}

.btn-option-a:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.btn-option-a:active {
    background-color: #004080;
}


.btn-option-b {
    background-color: #acb3bb; 
    flex: 1; 
    font-size: 1.5rem;
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
    height: 100%; 
}

.btn-option-b:hover {
    background-color: #09b300;
    transform: scale(1.05);
}

.btn-option-b:active {
    background-color: #008009;
}


.btn-option-c {
    background-color: #acb3bb; 
    flex: 1; 
    font-size: 1.5rem;
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
    height: 100%;
}

.btn-option-c:hover {
    background-color: #fcff2d;
    transform: scale(1.05);
}

.btn-option-c:active {
    background-color: #e9dd00;
}


.btn-option-d {
    background-color: #acb3bb; 
    flex: 1;
    font-size: 1.5rem;
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
    height: 100%;
}

.btn-option-d:hover {
    background-color: #b30000;
    transform: scale(1.05);
}

.btn-option-d:active {
    background-color: #800000;
}

