
.quiz-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; 
    background-color: #f8f9fa;
    border-radius: 7px;
}

.question-container {
    background-color: #ffffff;
    border-radius: 7px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 70%; 
    max-width: 800px;
    text-align: center;
}

.question-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    height: 40vh; 
}

.btn-row {
    display: flex;
    gap: 10px; 
    flex: 1; 
}

.btn-option-a {
    background-color: #acb3bb; 
    flex: 1; 
    font-size: 1.5rem;
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
    height: 100%; 
}

.btn-option-a:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.btn-option-a:active {
    background-color: #004080;
}


.btn-option-b {
    background-color: #acb3bb; 
    flex: 1; 
    font-size: 1.5rem;
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
    height: 100%; 
}

.btn-option-b:hover {
    background-color: #09b300;
    transform: scale(1.05);
}

.btn-option-b:active {
    background-color: #008009;
}


.btn-option-c {
    background-color: #acb3bb; 
    flex: 1; 
    font-size: 1.5rem;
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
    height: 100%;
}

.btn-option-c:hover {
    background-color: #fcff2d;
    transform: scale(1.05);
}

.btn-option-c:active {
    background-color: #e9dd00;
}


.btn-option-d {
    background-color: #acb3bb; 
    flex: 1;
    font-size: 1.5rem;
    padding: 20px;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
    height: 100%;
}

.btn-option-d:hover {
    background-color: #b30000;
    transform: scale(1.05);
}

.btn-option-d:active {
    background-color: #800000;
}

.feedback-container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.feedback-text {
    font-size: 22px;
    color: black;
    margin-bottom: 10px;
}

.next-question-btn {
    margin-top: 20px; 
    padding: 10px 20px;
    background-color: #b8bac9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.next-question-btn:hover {
    background-color: #3b3d9f;
}
