body {
    display: flex;
    flex-direction: column;
}

.main-container, .card-container {
    margin-top: 0px;
    flex-grow: 1;
    background-color: #6C6ABC;
}

 .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    border-radius: 7px;
    margin-bottom: 40px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 70%;
    max-width: 800px;
    background-color: #eaeaff;
}

.card {
    width: 100%;
    max-width: 400px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #eaeaff;
}

.text-submit-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
    text-align: left !important;
    font-weight: bold;
}

.form-label {
    display: block;
    margin-bottom: 5px;
}

.text-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* height: 100px; */
    resize: vertical;
}

.submit-button {
    display: inline-block;
    background-color: #62b0bc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #53959f;
}

.main-color p {
    color: black;
}