{% extends "index.html" %}

{% block content %}
<div class="container">

    <h1>{{ title }}</h1>
    <p class="fs-5">Flashcards are a great way to learn and memorize
        information. Use the flashcards below to test your knowledge on the chosen
        topic. </p>


    <div class="d-flex justify-content-center my-3">
        <button type="button" class="btn btn-primary" id="loadFlashCards-btn">Load Flashcards</button>
    </div>

    <div class="d-grid gap-2 col-6 mx-auto" id="flashcard-container">
        <!-- Placeholder for loading effect -->

        <button class="btn btn-primary btn-lg placeholder-glow" type="button" id="def-term" data-bs-toggle="button"
            style="height: 300px">
            <div id="placeholders-div">
                <span class="placeholder col-8"></span>
                <span class="placeholder col-10"></span>
                <span class="placeholder col-6"></span>
                <span class="placeholder col-10"></span>
                <span class="placeholder col-12"></span>
                <span class="placeholder col-8"></span>
        </button>
    </div>
</div>

<div class="d-flex justify-content-center my-3">
    <div class="btn-group" role="group" aria-label="Basic example">
        <button class="btn btn-primary" type="button" id="prev-btn" disabled> Previous </button>
        <button class="btn btn-primary" type="button" id="next-btn" disabled> Next </button>
    </div>
</div>

<script>
    $(document).ready(function () {
        let currentIndex = 0;
        let flashcards = [];
        $('#placeholders-div').hide();

        // Function to fetch the flashcards
        function getFlashcards() {
            $.ajax({
                url: '/get-cards',
                type: 'GET',
                // Disable caching of the response to prevent stale data.
                // New data is fetched each time from the Open API.
                cache: false,
                beforeSend: function () {
                    // Disable the load button and enable the placeholder
                    // only after button press
                    $('#placeholders-div').show();
                    $('#loadFlashCards-btn').prop('disabled', true);
                },
                success: function (response) {
                    flashcards = response;
                    $('#def-term').text(flashcards[currentIndex]['Definition']);
                    $('#def-term').removeClass('placeholder-glow');//.removeClass('invisible');
                    updateButtons();
                },
                complete: function () {
                    // $('#loadFlashCards-btn').prop('disabled', false);
                    $('#placeholders-div').hide();
                },
                error: function () {
                    // Handle error, e.g., display a message or retry logic
                    console.error('Failed to fetch flashcards.');
                }
            });
        }

        // Event listener for the Load Flashcards button
        $('#loadFlashCards-btn').click(function () {
            // $('#def-term').addClass('placeholder-glow');//('invisible'); // Hide placeholder until API fetch
            getFlashcards();
        });

        function updateButtons() {
            $('#prev-btn').prop('disabled', currentIndex === 0);
            $('#next-btn').prop('disabled', currentIndex === flashcards.length - 1);
        }

        $('#next-btn').click(function () {
            if (flashcards.length > 0 && currentIndex < flashcards.length - 1) {
                currentIndex++;
                $('#def-term').text(flashcards[currentIndex]['Definition']);
                updateButtons();
            }
        });

        $('#prev-btn').click(function () {
            if (flashcards.length > 0 && currentIndex > 0) {
                currentIndex--;
                $('#def-term').text(flashcards[currentIndex]['Definition']);
                updateButtons();
            }
        });

        $('#def-term').click(function () {
            let currentText = $(this).text();

            if (currentText === flashcards[currentIndex]['Definition']) {
                $(this).text(flashcards[currentIndex]['Term']);
            } else {
                $(this).text(flashcards[currentIndex]['Definition']);
            }
        });
    });

</script>
</div>
{% endblock %}