{% extends "index.html" %}

{% block content %}
<div class="container">

    <h1>{{ title }}</h1>
    <p class="fs-5">Flashcards are a great way to learn and memorize
        information. Use the flashcards below to test your knowledge on the chosen
        topic. </p>

    <div class="d-flex justify-content-center my-3">
        <button type="button" class="btn btn-primary" id="loadFlashCards-btn">Load Flashcards</button>
    </div>

    <div class="d-grid gap-2 col-6 mx-auto" id="flashcard-container">
        <!-- Placeholders for loading effect -->
        <br>
        <button class="btn btn-primary btn-lg placeholder-glow" type="button" id="def-term" data-bs-toggle="button"
            style="height: 300px">
            <div id="placeholders-div">
                <span class="placeholder col-8"></span>
                <span class="placeholder col-10"></span>
                <span class="placeholder col-6"></span>
                <span class="placeholder col-10"></span>
                <span class="placeholder col-12"></span>
                <span class="placeholder col-8"></span>
            </div>
        </button>
    </div>

    <div class="d-flex justify-content-center my-3">
        <div class="btn-group btn-lg" role="group" aria-label="Basic example">
            <button class="btn btn-primary" type="button" id="wrong-btn" disabled> Wrong :( </button>
            <button class="btn btn-primary" type="button" id="correct-btn" disabled> Got It! :) </button>
        </div>
    </div>

    <div class="d-flex justify-content-center my-3">
        <div class="btn-group btn-lg" role="group" aria-label="Basic example">
            <button class="btn btn-primary" type="button" id="restart-fresh-btn" disabled> Restart All Flashcards?
            </button>
            <button class="btn btn-primary" type="button" id="restart-missed-btn" disabled> Restart Missed Flashcards?
            </button>
        </div>
    </div>

    <div class="d-flex justify-content-center my-3">
        <div class="btn-group btn-lg" role="group" aria-label="Basic example">
            <button class="btn btn-primary" type="button" id="save-btn" disabled> Save Flashcards </button>
            <button class="btn btn-primary" type="button" id="generate-new-btn" disabled> Generate New Flashcards
            </button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        let currentIndex = 0;
        let flashcards = [];
        let missedFlashcards = [];
        let correctFlashcards = [];
        $('#placeholders-div').hide();
        // $('#def-term').removeClass('placeholder-glow');

        // Use the /get-cards url defined in main.py to get the flashcards from
        // the OpenAPI database.
        function getFlashcards() {
            $.ajax({
                // url: '/get-cards',
                url: '/dummy-get-cards',
                type: 'POST',
                // Send the subject and subtopic to the server as JSON. The
                // variable values are set using Jinja templating from the
                // main.py file.
                data: JSON.stringify({
                    subject: "{{ subject }}",
                    subtopic: "{{ subtopic }}"
                }),
                contentType: "application/json; charset=utf-8",
                beforeSend: function () {
                    // Disable the load button and enable the placeholder
                    // only after button press
                    // $('#placeholders-div').show();
                    // $('#def-term').addClass('placeholder-glow');
                    // $('#loadFlashCards-btn').prop('disabled', true);
                    // $('#def-term').text('');
                    // $('#def-term').addClass('placeholder-glow');
                    $('#placeholders-div').show();
                    $('#loadFlashCards-btn').prop('disabled', true);
                },
                // Upon sucess, update the flashcards variable with the
                // response and display the first flashcard. Also, remove the
                // placeholder glow effect.
                success: function (response) {
                    flashcards = response;
                    $('#def-term').text(flashcards[currentIndex]['Definition']);
                    // $('#placeholders-div').hide();
                    // $('#def-term').removeClass('placeholder-glow');
                    updateButtons();
                },
                complete: function () {
                    $('#placeholders-div').hide();
                },
                error: function () {
                    // Handle error, e.g., display a message or retry logic
                    console.error('Failed to fetch flashcards.');
                }
            });
        }

        function shuffle(array) {
            let index = array.length;
            // While there remain elements to shuffle...
            while (index != 0) {
                // Pick a remaining element...
                let randomIndex = Math.floor(Math.random() * index);
                index--;
                // And swap it with the current element.
                [array[index], array[randomIndex]] = [array[randomIndex], array[index]];
            }
        }

        function endOfFlashcards() {
            $('#def-term').text('No more flashcards to display.');
            $('#correct-btn').prop('disabled', true);
            $('#wrong-btn').prop('disabled', true);
            $('#restart-fresh-btn').prop('disabled', false);
            $('#restart-missed-btn').prop('disabled', missedFlashcards.length === 0);
            $('#save-btn').prop('disabled', false);
            $('#generate-new-btn').prop('disabled', false);
        }

        function updateButtons() {
            $('#correct-btn').prop('disabled', flashcards.length === 0);
            $('#wrong-btn').prop('disabled', flashcards.length === 0);
        }

        // Event listener for the Load Flashcards button
        $('#loadFlashCards-btn').click(function () {
            getFlashcards();
        });

        $('#def-term').click(function () {
            let currentText = $(this).text();

            if (currentText === flashcards[currentIndex]['Definition']) {
                $(this).text(flashcards[currentIndex]['Term']);
            } else {
                $(this).text(flashcards[currentIndex]['Definition']);
            }
        });

        $('#correct-btn').click(function () {
            correctFlashcards.push(flashcards[currentIndex]);
            flashcards.splice(currentIndex, 1);
            if (currentIndex >= flashcards.length) {
                currentIndex = flashcards.length - 1;
            }
            if (flashcards.length > 0) {
                $('#def-term').text(flashcards[currentIndex]['Definition']);
            } else {
                endOfFlashcards();
            }
            updateButtons();
        });

        $('#wrong-btn').click(function () {
            missedFlashcards.push(flashcards[currentIndex]);
            flashcards.splice(currentIndex, 1);
            if (currentIndex >= flashcards.length) {
                currentIndex = flashcards.length - 1;
            }
            if (flashcards.length > 0) {
                $('#def-term').text(flashcards[currentIndex]['Definition']);
            } else {
                endOfFlashcards();
            }
            updateButtons();
        });

        $('#restart-fresh-btn').click(function () {
            flashcards = correctFlashcards.concat(missedFlashcards);
            shuffle(flashcards);
            correctFlashcards = [];
            missedFlashcards = [];
            currentIndex = 0;
            $('#def-term').text(flashcards[currentIndex]['Definition']);
            updateButtons();
            $('#restart-fresh-btn').prop('disabled', true);
        });

        $('#restart-missed-btn').click(function () {
            flashcards = missedFlashcards;
            shuffle(flashcards);
            missedFlashcards = [];
            currentIndex = 0;
            $('#def-term').text(flashcards[currentIndex]['Definition']);
            updateButtons();
            $('#restart-missed-btn').prop('disabled', true);
        });

        $('#save-btn').click(function () {
            $.ajax({
                url: '/save-cards',
                type: 'POST',
                data: JSON.stringify({
                    subject: "{{ subject }}",
                    subtopic: "{{ subtopic }}",
                    flashcards: correctFlashcards
                }),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    console.log(response);
                    window.location = response;
                },
                error: function () {
                    console.error('Failed to save flashcards.');
                }
            });
        });

        $('#generate-new-btn').click(function () {
            // $('#def-term').text('');
            // $('#placeholders-div').show();
            // $('#def-term').addClass('placeholder-glow');
            correctFlashcards = [];
            missedFlashcards = [];
            currentIndex = 0;
            updateButtons();
            $('#restart-fresh-btn').prop('disabled', true);
            $('#restart-missed-btn').prop('disabled', true);
            $('#save-btn').prop('disabled', true);
            $('#generate-new-btn').prop('disabled', true);

            // $('#def-term').add(<div id="placeholders-div">
            //     <span class="placeholder col-8"></span>
            //     <span class="placeholder col-10"></span>
            //     <span class="placeholder col-6"></span>
            //     <span class="placeholder col-10"></span>
            //     <span class="placeholder col-12"></span>
            //     <span class="placeholder col-8"></span>
            // </div>);
            getFlashcards();
            // updateButtons();
        });
    });

</script>
{% endblock %}