{% extends "index.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
</head>

<h1>Hi, {{ current_user.username }}!</h1>
<p>Current XP: {{ current_user.xp }}</p>
<p>Current XP Level: {{ current_user.xp_level }}</p>

<div class="row mt-4">
    <p>Activity:</p>
    <div class="d-grid gap-2">
        <a class="btn custom-btn" role="button" href="{{ url_for('saved_flashcards') }}">Review Saved Flashcards</a>
        <a class="btn custom-btn" role="button" href="{{ url_for('quiz_results') }}">View Past Quiz Results</a>
        <a class="btn custom-btn" role="button" href="{{ url_for('logout') }}">Log Out</a>
    </div>
</div>
{% endblock content %}
