{% extends "index.html" %}

{% block content %}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='recall.css') }}">
</head>
<div class="container">

    <h1>{{ title }}</h1>
    <p class="fs-5">Active recall is a study method that involves actively stimulating memory during the learning
        process. It is based on the principle that actively retrieving information helps improve and
        strengthen memory. The method employed by LearnMateAI is based on supplying
        the term associated with a prompted definition, without looking at any
        material. </p>
    <div class="d-flex justify-content-center my-3">
        <button type="button" class="btn btn-primary" id="loadTerms-btn">Load Terms</button>
    </div>
    <main class="main-container">
        <div class="card-container">
            <div class="card">

                <div id="placeholders-div" class="placeholder-glow">
                    <h5>
                        <span id="def-text" hidden>Definition</span>
                        <span id="text-placeholder" class="placeholder col-8" hidden>Definition</span>
                    </h5>
                </div>

                <form class="text-submit-form" action="/" method="GET">
                    <div class="form-group">
                        <label for="textInput" class="form-label">Type the Answer:</label>
                        <textarea id="textInput" name="textInput" class="text-input"
                            placeholder="Enter your text here"></textarea>
                    </div>
                    <p id="answer-correctness" style="position: left;
                        color: '';"></p>
                    <button class="btn btn-primary" type="button" id="answer-btn">Check Answer</button>
                    <button class="btn btn-primary" type="submit" id="complete-btn" disabled>Complete Session</button>
                </form>

            </div>
        </div>
    </main>
    <div class="d-flex justify-content-center my-3">
        <div class="btn-group btn-lg" role="group" aria-label="Basic example">
            <button class="btn btn-primary" type="button" id="restart-fresh-btn" disabled> Restart All Terms?
            </button>
            <button class="btn btn-primary" type="button" id="restart-missed-btn" disabled> Restart Missed Terms?
            </button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        let currentIndex = 0;
        let terms = [];
        let missedTerms = [];
        let correctTerms = [];

        // Use the /get-cards url defined in main.py to get the flashcards from
        // the OpenAPI database.
        function getTerms() {
            $.ajax({
                // url: '/get-cards',
                url: '/dummy-get-cards',
                type: 'POST',
                // Send the subject and subtopic to the server as JSON. The
                // variable values are set using Jinja templating from the
                // main.py file.
                data: JSON.stringify({
                    subject: "{{ subject }}",
                    subtopic: "{{ subtopic }}"
                }),
                contentType: "application/json; charset=utf-8",
                beforeSend: function () {
                    $('#loadTerms-btn').prop('disabled', true);
                    $('#text-placeholder').prop('hidden', false);
                },
                // Upon sucess, update the terms variable with the
                // response, hide the glowing placeholder, and unhide
                // the definition field.
                success: function (response) {
                    terms = response;
                    $('#text-placeholder').prop('hidden', true);
                    $('#def-text').prop('hidden', false);
                },
                // Upon completion, set the definition text to the
                // current term's definition.
                complete: function () {
                    $('#def-text').text(terms[currentIndex]['Definition']);
                },
                error: function () {
                    // Handle error, e.g., display a message
                    window.location.replace('/');
                    alert('Failed to fetch Active Recall terms. You are being returned to the home page. Please try again later.')
                    console.error('Failed to fetch terms.');
                }
            });
        }

        function shuffle(array) {
            let index = array.length;
            // While there remain elements to shuffle...
            while (index != 0) {
                // Pick a remaining element...
                let randomIndex = Math.floor(Math.random() * index);
                index--;
                // And swap it with the current element.
                [array[index], array[randomIndex]] = [array[randomIndex], array[index]];
            }
        }

        $('#loadTerms-btn').click(function () {
            getTerms();
        });

        // setTimeout does not inhibit other functions from executing.
        $('#answer-btn').click(function () {
            let textInput = $('#textInput').val().trim().toLowerCase();
            if (textInput === terms[currentIndex]['Term'].toLowerCase()) {
                correctTerms.push(terms[currentIndex]);
                $('#answer-correctness').prop('style', 'color: green');
                $('#answer-correctness').text('Correct!');
            } else {
                $('#answer-correctness').prop('style', 'color: red');
                $('#answer-correctness').text('Incorrect. The correct answer is: ' + terms[currentIndex]['Term']);
                missedTerms.push(terms[currentIndex]);
            }
            currentIndex++;
            setTimeout(function () {
                if (currentIndex < terms.length) {
                    $('#def-text').text(terms[currentIndex]['Definition']);
                    $('#answer-correctness').text('');
                } else {
                    $('#answer-correctness').text('');
                    $('#def-text').text('No more terms to display.');
                    $('#answer-btn').prop('disabled', true);
                    $('#complete-btn').prop('disabled', false);
                }
            }, 3000);

        });

    });

</script>
{% endblock %}