{% extends "index.html" %}

{% block content %}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='recall.css') }}">
</head>
<div class="container">

    <h1>{{ title }}</h1>
    <p class="fs-5">Active recall is a study method that involves actively stimulating memory during the learning
        process. It is based on the principle that actively retrieving information helps improve and
        strengthen memory. The method employed by LearnMateAI is based on supplying
        the term associated with a prompted definition, without looking at any
        material. </p>
    <div class="d-flex my-1"></div>
    <main class="main-container">
        <div class="card-container">
            <div class="card">

                <div id="placeholders-div" class="placeholder-glow">
                    <h5>
                        <span id="def-text" hidden>Definition</span>
                        <span id="text-placeholder" class="placeholder col-8" hidden>Definition</span>
                    </h5>
                </div>

                <form class="text-submit-form" action="/" method="GET" id="recall-form">
                    <div class="form-group">
                        <label for="textInput" class="form-label">Type the Answer:</label>
                        <textarea id="textInput" name="textInput" class="text-input"
                            placeholder="Enter your response here" disabled></textarea>
                    </div>
                    <p id="answer-correctness" style="color: '';"></p>
                    <p id="prompt-press-key" style="color: black;"></p>
                    <button class="btn custom-btn" type="button" id="answer-btn">Check Answer</button>
                    <button class="btn custom-btn" type="submit" id="complete-btn" disabled>Complete Session</button>
                </form>

            </div>
            <div class="d-flex justify-content-center my-3">
                <div class="btn-group btn-lg" role="group" aria-label="Basic example">
                    <button class="btn custom-btn" type="button" id="restart-fresh-btn" disabled> Restart All Terms?
                    </button>
                    <button class="btn custom-btn" type="button" id="restart-missed-btn" disabled> Restart Missed
                        Terms?
                    </button>
                </div>
            </div>
        </div>
    </main>
</div>

<script>
    $(document).ready(function () {
        let currentIndex = 0;
        let terms = [];
        let missedTerms = [];
        let correctTerms = [];
        let inContinueState = false;
        getTerms();

        // Use the /get-cards url defined in main.py to get the terms from
        // the OpenAPI database.
        function getTerms() {
            $.ajax({
                // url: '/get-cards',
                url: '/dummy-get-cards',
                type: 'POST',
                // Send the subject and subtopic to the server as JSON. The
                // variable values are set using Jinja templating from the
                // main.py file.
                data: JSON.stringify({
                    subject: "{{ subject }}",
                    subtopic: "{{ subtopic }}",
                    save: false
                }),
                contentType: "application/json; charset=utf-8",
                beforeSend: function () {
                    // $('#loadTerms-btn').prop('disabled', true);
                    $('#text-placeholder').prop('hidden', false);
                },
                // Upon sucess, update the terms variable with the
                // response, hide the glowing placeholder, and unhide
                // the definition field.
                success: function (response) {
                    // HACK: Remove the last element from the response array.
                    // The call to /get-cards returns an array of terms and
                    // an integer value representing the would-be ID of the 
                    // deck of flashcards if they were to be saved to the DB.
                    response.pop();
                    terms = response;
                    $('#text-placeholder').prop('hidden', true);
                    $('#def-text').prop('hidden', false);
                    $('#textInput').prop('disabled', false);
                    $('#textInput').focus();
                    $('#def-text').text(terms[currentIndex]['Definition']);
                },
                // Upon completion, set the definition text to the
                // current term's definition.
                complete: function () {
                },
                error: function () {
                    // Handle error, e.g., display a message
                    window.location.replace('/');
                    alert('Failed to fetch Active Recall terms. You are being returned to the home page. Please try again later.')
                    console.error('Failed to fetch terms.');
                }
            });
        }

        function shuffle(array) {
            let index = array.length;
            // While there remain elements to shuffle...
            while (index != 0) {
                // Pick a remaining element...
                let randomIndex = Math.floor(Math.random() * index);
                index--;
                // And swap it with the current element.
                [array[index], array[randomIndex]] = [array[randomIndex], array[index]];
            }
        }

        // Compute the Levenshtein distance between two strings to determine similarity.
        function similarity(s1, s2) {
            var longer = s1;
            var shorter = s2;
            if (s1.length < s2.length) {
                longer = s2;
                shorter = s1;
            }
            var longerLength = longer.length;
            if (longerLength == 0) {
                return 1.0;
            }
            return (longerLength - editDistance(longer, shorter)) / parseFloat(longerLength);
        }

        // Compute the edit distance between two strings. The edit distance is
        // the number of characters that need to be substituted, inserted, or
        // deleted to transform s1 into s2.
        function editDistance(s1, s2) {
            s1 = s1.toLowerCase();
            s2 = s2.toLowerCase();

            var costs = new Array();
            for (var i = 0; i <= s1.length; i++) {
                var lastValue = i;
                for (var j = 0; j <= s2.length; j++) {
                    if (i == 0)
                        costs[j] = j;
                    else {
                        if (j > 0) {
                            var newValue = costs[j - 1];
                            if (s1.charAt(i - 1) != s2.charAt(j - 1))
                                newValue = Math.min(Math.min(newValue, lastValue),
                                    costs[j]) + 1;
                            costs[j - 1] = lastValue;
                            lastValue = newValue;
                        }
                    }
                }
                if (i > 0)
                    costs[s2.length] = lastValue;
            }
            return costs[s2.length];
        }

        // Existing click event for the answer button
        $('#answer-btn').click(function () {
            submitAnswer();
        });

        function textInputKeypress(event) {
            // Check if the pressed key is 'Enter'
            if (event.which == 13) {
                event.preventDefault(); // Prevent the default action (form submission)
                $('#answer-btn').click(); // Trigger the answer button click
            }
        }

        // Keypress event for the text input area.
        $('#textInput').keypress(textInputKeypress);

        function submitAnswer() {
            inContinueState = true;
            let textInput = $('#textInput').val().trim();
            $('#textInput').prop('disabled', true);
            let similarityScore = similarity(textInput, terms[currentIndex]['Term']);

            // If the similarity score is greater than 0.9, consider the answer
            // correct. If the similarity score is greater than 0.8, consider
            // the answer close, but still incorrect. Otherwise, consider the answer incorrect.
            if (similarityScore > 0.95) {
                correctTerms.push(terms[currentIndex]);
                $('#answer-correctness').prop('style', 'color: green');
                $('#answer-correctness').text('Correct!');
            } else if (similarityScore > 0.9) {
                $('#answer-correctness').prop('style', 'color: green');
                $('#answer-correctness').text('Correct! The correct answer is: ' + terms[currentIndex]['Term']);
                correctTerms.push(terms[currentIndex]);
            } else if (similarityScore > 0.8) {
                $('#answer-correctness').prop('style', 'color: orange');
                $('#answer-correctness').text('Close! The correct answer is: ' + terms[currentIndex]['Term']);
                missedTerms.push(terms[currentIndex]);
            } else {
                $('#answer-correctness').prop('style', 'color: red');
                $('#answer-correctness').text('Incorrect. The correct answer is: ' + terms[currentIndex]['Term']);
                missedTerms.push(terms[currentIndex]);
            }

            currentIndex++;
            $('#prompt-press-key').text('Press the Spacebar to continue.');

            $(window).keypress(function (event) {
                if (event.which == 32 && inContinueState) {
                    event.preventDefault();
                    inContinueState = false;

                    $('#recall-form')[0].reset();
                    $('#answer-correctness').text('');
                    if (currentIndex < terms.length) {
                        $('#textInput').prop('disabled', false);
                        $('#textInput').focus();
                        $('#def-text').text(terms[currentIndex]['Definition']);

                        // Re-enable the keypress event listener for the text input
                        $('#textInput').keypress(textInputKeypress);
                    } else {
                        $('#def-text').text('No more terms to display.');
                        $('#textInput').prop('placeholder', '');
                        $('#answer-btn').prop('disabled', true);
                        $('#complete-btn').prop('disabled', false);
                        $('#restart-fresh-btn').prop('disabled', false);
                        $('#restart-missed-btn').prop('disabled', missedTerms.length === 0);
                    }
                    $('#prompt-press-key').text('');
                    $(window).off('keydown');
                }
            });
        }

        $('#restart-fresh-btn').click(function () {
            currentIndex = 0;
            terms = missedTerms.concat(correctTerms);
            shuffle(terms);
            missedTerms = [];
            correctTerms = [];
            $('#def-text').text(terms[currentIndex]['Definition']);
            $('#textInput').prop('disabled', false);
            $('#answer-btn').prop('disabled', false);
            $('#complete-btn').prop('disabled', true);
        });

        $('#restart-missed-btn').click(function () {
            currentIndex = 0;
            terms = missedTerms;
            shuffle(terms);
            missedTerms = [];
            $('#restart-missed-btn').prop('disabled', true);
            $('#restart-fresh-btn').prop('disabled', true);
            $('#def-text').text(terms[currentIndex]['Definition']);
            $('#textInput').prop('disabled', false);
            $('#answer-btn').prop('disabled', false);
            $('#complete-btn').prop('disabled', true);
        });

    });

</script>
{% endblock %}