{% extends "index.html" %}

{% block content %}

<h1 class="title">{{ title }}</h1>

<div class="content-section">
    <form method="POST" action="">
        <fieldset class="form-group">
            <div class="form-group">
                <input class="form-control form-control-lg" type="email" name="email" placeholder="Your Email" autofocus="">
            </div>

            {% if title == "Sign Up" %}
                <div class="form-group">
                    <input class="form-control form-control-lg" type="text" name="name" placeholder="Name" autofocus="">
                </div>
            {% endif %}

            <div class="form-group">
                <input class="form-control form-control-lg" type="password" name="password" placeholder="Your Password">
            </div>

            {% if title == "Sign In" %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="remember">
                    <label class="form-check-label" for="flexCheckDefault">
                        Remember me
                    </label>
                </div>
            {% else %}
                <div class="form-group">
                    <input class="form-control form-control-lg" type="password" name="confirm_password" placeholder="Confirm Password">
                </div>
            {% endif %}
            <div class="form-group">
                <button class="btn btn-outline-info">{{ title }}</button>
            </div>
        </fieldset>
    </form>
    {% if title == "Sign In" %}
        <p>New User? <a href="{{ url_for('signup') }}">Sign Up</a>!</p>
    {% else %}
        <p>Returning User? <a href="{{ url_for('signin') }}">Sign In</a>!</p>
    {% endif %}
</div>
{% endblock %}