<!--Displays topic options for studying and takes user input-->
{% extends "index.html" %}

{% block content %}
<h1>Choose your topic:</h1>

<div class="container mt-5">
    <form action='' method='POST'>
        <div class="mb-3">
            <label for="dropdownMenu" class="form-label">Select a Subject:</label>
            <select class="form-select" id='subjectDropdownMenu' name='subject_selection'>
                <option selected disabled>Choose...</option>
                {% for subject in subjects %}
                <option value="{{ subject }}">{{ subject }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="dropdownMenu" class="form-label">Select a Subtopic:</label>
            <select class="form-select" id='subtopicDropdown' name='subtopic_selection'>
                <option selected disabled>Choose...</option>
                {% for subject in subject_dictionary %}
                {% for topic in subject_dictionary[subject] %}
                <option style='display: none;' class="subtopics-dropdown option-{{ subject }}" value="{{ topic }}">{{
                    topic }}</option>
                {% endfor %}
                {% endfor %}
        </div>
        </select>
</div>
<button type="submit" class="btn custom-btn">Submit</button>
</form>
</div>

<script>
    $(document).ready(function () {
        const subjectDropdown = document.getElementById('subjectDropdownMenu');
        const subtopicDropdown = document.getElementById('subtopicDropdown');

        subjectDropdown.addEventListener('change', function () {

            let selectedSubject = subjectDropdown.value;
            const options = document.getElementsByClassName('subtopics-dropdown');

            for (let i = 0; i < options.length; i++) {

                console.log('option-' + selectedSubject);
                if (options[i].classList.contains('option-' + selectedSubject)) {
                    options[i].style.display = 'block';
                } else {
                    options[i].style.display = 'none';
                }
            }
        });
    });
</script>
{% endblock content %}